In [1]:
from dance.data.base import Data
import anndata as ad
import numpy as np
import pandas as pd

In [2]:
ref_count=pd.read_csv("./spatial_DWLS_data/count.csv",index_col=0).T
ref_annot=pd.read_csv("./spatial_DWLS_data/annot.csv",index_col=0).rename(columns={"cell_types":"cellType"})

In [3]:

adata_inf=ad.AnnData()
adata_inf = ad.AnnData(
            ref_count.values,
            dtype=np.float32,
            obs=ref_annot,
            var=pd.DataFrame(index=ref_count.columns.tolist()),
        )
adata_ref=ad.AnnData()

adata_ref = ad.AnnData(
            ref_count.values,
            dtype=np.float32,
            obs=ref_annot,
            var=pd.DataFrame(index=ref_count.columns.tolist()),
        )

In [4]:
import numpy as np
def standardise(x, center=True, scale=True):
  if center and scale:
    mean = np.mean(x, axis=0)
    x_centered = x - mean  
    std = np.std(x_centered, axis=0, ddof=1)
    x_scaled = x_centered / std
    return x_scaled

  elif center and not scale:  
    mean = np.mean(x, axis=0)
    return x - mean

  elif not center and scale:
    std = np.std(x, axis=0)
    return x / std

  else:
    return x

In [5]:
import scanpy as sc
import math
sc.pp.normalize_total(adata_ref,target_sum=6000)
adata_ref.X=adata_ref.X+1
sc.pp.log1p(adata_ref)
adata_ref.X=adata_ref.X/math.log(2)
adata_ref.X=np.transpose(standardise(np.transpose(standardise(adata_ref.X))))

In [6]:
adata_ref.X

array([[-0.92007875,  0.15731734,  0.17702308,  0.42443213,  0.14004673,
         0.6161042 , -0.2790136 , -1.2760187 , -1.1774621 , -1.3881428 ,
        -1.3785487 , -1.2756894 ,  0.7487154 ,  1.2803595 ,  0.6243716 ,
        -0.86165065,  1.6135772 ,  1.4742669 ,  0.7397503 ,  0.56064016],
       [-1.3229831 ,  0.84048784,  0.698226  ,  0.64299977,  0.552692  ,
         1.0153862 ,  0.01275463, -1.832667  ,  0.36854628,  0.11915276,
         0.38909566,  0.23673327, -1.8435562 , -1.6988747 ,  0.37529483,
        -1.2393179 ,  1.207723  ,  1.0337595 ,  0.19174537,  0.25280187],
       [-0.78841656,  0.9086625 ,  0.9557844 ,  0.7659593 ,  0.35076457,
         0.9222148 ,  0.78336906, -1.2107875 , -1.0938368 ,  1.0520781 ,
        -1.3324534 ,  1.1362419 ,  1.0874697 , -1.099915  , -1.4814345 ,
        -0.7190837 , -0.8030248 , -0.89807427,  0.76074505,  0.7037367 ],
       [ 1.0951704 ,  0.86379504,  0.12247148,  0.7754688 ,  0.536213  ,
        -1.2587472 ,  0.52245593, -1.2434225 ,  1.459392  ,  0.76304764,
        -1.3617618 , -1.2430422 , -1.2521996 ,  0.82419676,  0.97724944,
        -0.7651621 , -0.84680814, -0.9392589 ,  1.1087743 , -0.1378324 ],
       [-0.92000866,  0.23678827, -2.0930457 ,  0.00493931,  0.46448871,
         1.0464013 ,  0.11122631,  0.88236415,  1.013493  , -1.4225677 ,
         0.7234079 ,  0.9175117 , -1.3103454 ,  0.92060304,  0.7382631 ,
        -0.8572746 , -0.9332265 , -1.0192297 ,  1.1515049 ,  0.3447067 ],
       [ 1.3425695 ,  0.7806056 ,  0.2698901 ,  0.45619306,  0.22877933,
         1.2341858 ,  0.6736901 , -0.97633225, -0.88404673,  0.78457904,
        -1.0723382 , -0.9760238 ,  0.81342053, -0.88884306, -1.1898987 ,
         1.6253822 , -0.654568  , -0.72957116,  0.8067116 , -1.6443846 ],
       [-0.10597602, -0.6377173 , -0.9085458 , -0.92892605, -1.3807144 ,
        -0.3772044 , -1.3762851 ,  1.5413907 ,  1.109123  , -0.44981742,
         1.226041  ,  1.3669765 ,  1.3320627 , -0.29881346, -0.53499836,
        -0.0630546 , -0.11501948, -0.17386115,  1.6668923 , -0.89155257],
       [-0.41657272, -0.9964233 , -1.291755  , -1.3139791 ,  0.21491894,
        -0.7123405 ,  0.278669  ,  1.0841166 , -0.62275386, -0.79152316,
         1.1770943 , -0.70144045,  1.2957776 ,  1.3770752 ,  1.213933  ,
        -0.36976796, -0.42643437,  1.4239267 ,  0.8507039 , -1.2732244 ],
       [ 1.8962338 , -0.82575333, -1.0864965 , -1.1061178 , -1.5410823 ,
        -0.5749417 , -1.5368179 ,  0.9503852 ,  1.2339951 ,  0.81007516,
         0.73321736,  1.1200415 ,  0.8301725 , -0.49946994,  0.8590165 ,
        -0.27249047, -0.32252023, -0.37917072, -0.55444455,  0.26616782],
       [-0.5182541 , -1.2305616 ,  0.51731145,  0.55225396,  0.60549855,
        -0.88158506,  0.7954207 , -0.8685192 , -0.7715339 , -0.97885567,
        -0.96941453,  1.3982247 , -0.87600255,  1.4241968 ,  0.95875776,
         1.942178  , -0.5303685 , -0.6091914 , -0.8530655 ,  0.8935098 ],
       [-0.46710718,  1.564655  ,  1.0000434 ,  0.96023124,  1.0476714 ,
         1.1709374 ,  1.0745544 , -0.886972  , -0.7707152 , -1.019233  ,
        -1.0079159 ,  1.3870215 , -0.8959424 , -0.7767573 , -1.1560129 ,
        -0.3981858 , -0.48162878, -0.57611424, -0.8684476 ,  1.099918  ],
       [ 1.1797527 ,  0.9594782 ,  0.9091134 ,  0.5601361 ,  0.3706248 ,
        -1.1102303 ,  0.771165  , -1.0961196 , -0.99137914,  0.8676882 ,
        -1.2050829 , -1.0957696 , -1.1042014 , -0.9968228 ,  0.4599443 ,
        -0.65575224,  1.4202893 ,  1.2851336 , -1.0794302 ,  0.5514626 ],
       [-0.38971683,  0.6975907 ,  0.7211856 ,  0.8854927 ,  0.8605631 ,
        -0.73039347,  0.603519  , -0.71814233, -0.6272042 ,  1.220716  ,
        -0.8127467 , -0.71783835, -0.7251591 , -0.63193053, -0.9285908 ,
         1.7849919 ,  2.0627403 , -0.47498402, -0.70365214, -1.376441  ],
       [-0.8668822 , -1.5191107 ,  0.39469588, -1.8763044 , -0.5107364 ,
         0.79054135, -0.44935152,  0.5082568 , -1.0987992 ,  0.9826494 ,
         0.37793353, -1.1873075 ,  0.4995193 ,  0.524675  ,  0.12470757,
         1.4337025 ,  0.93756896,  1.2986879 , -1.173454  ,  0.8090076 ],
       [-0.75872153,  0.8620991 ,  0.35317528,  0.6621531 ,  0.8816716 ,
         1.2199169 ,  0.72741455,  0.7320675 ,  1.1957021 ,  1.0040929 ,
        -1.3004365 , -1.1789007 , -1.1882753 ,  1.0759107 , -1.4487817 ,
        -0.6896847 , -0.77326745, -0.8679112 , -1.1607344 ,  0.6525099 ],
       [-0.21984595, -0.9734703 ,  1.4482373 ,  1.1529752 ,  0.6008957 ,
        -0.60425156,  1.0168344 , -0.5904278 ,  2.1493022 , -0.7071642 ,
         1.8514228 , -0.5900849 , -0.5983452 , -0.49314994, -0.8278892 ,
        -0.15901442, -0.23266302, -0.31605795, -0.5740778 , -1.3332251 ],
       [-0.6616676 ,  1.3746943 ,  1.1626186 ,  0.8361564 ,  0.5042163 ,
        -1.0920424 ,  0.67605513,  1.1627619 ,  0.982626  , -1.2072619 ,
         0.99315315, -1.0761817 ,  0.8344758 , -0.9676547 , -1.3424239 ,
        -0.5935614 , -0.67601734, -0.7693851 , -1.0582602 ,  0.9176981 ],
       [-1.479955  , -0.29696944,  0.22978693,  0.06518847, -0.17852168,
         0.91414905, -0.48887137,  0.50260925, -1.8207088 ,  0.82113177,
         0.3119746 ,  0.17680117, -1.9612575 ,  0.92600334,  0.3138609 ,
         1.6304021 , -1.4962533 ,  0.9573014 ,  0.12825385,  0.7450742 ],
       [ 1.6333377 ,  1.0187927 ,  0.24193276,  0.77567536,  0.813237  ,
        -1.3136295 ,  0.36986032,  0.6350028 , -1.1775973 , -1.4338638 ,
         0.4670567 ,  1.0019133 ,  0.9537042 , -1.1838279 ,  0.7924445 ,
        -0.79345244, -0.8794972 , -0.97692865, -1.2783769 ,  0.33421615],
       [ 0.9589205 , -1.1780131 , -1.4382052 , -1.4577851 , -1.8918303 ,
         0.4570509 , -1.887575  ,  0.7110481 ,  0.5603223 ,  0.53054947,
         0.69974536,  0.64174217,  0.6608419 ,  0.36943734,  0.5801924 ,
        -0.6259193 ,  0.92622876,  0.59847593,  0.7925211 , -0.00774835]],
      dtype=float32)

In [7]:
from dance.transforms.filter import FilterGenesMarkerGini
from dance.transforms.pseudo_gen import CellTopicProfile,CellGiottoTopicProfile,CellTypeNums
from dance.transforms.misc import Compose

data = Data(adata_inf, full_split_name="test")
data.append(Data(adata_ref, full_split_name="ref"), join="outer", label_batch=True)
transforms=Compose(
            CellTopicProfile(ct_select="auto", ct_key="cellType", batch_key=None, split_name="ref", method="mean"),
            CellGiottoTopicProfile(ct_select="auto", ct_key="cellType", split_name="ref",detection_threshold=-1),
            CellGiottoTopicProfile(ct_select="auto", ct_key="cellType", split_name="ref",detection_threshold=0,out="CellGiottoDetectionTopicProfile"),
            CellTypeNums(ct_select="auto", ct_key="cellType", split_name="ref"),
            FilterGenesMarkerGini()
)
transforms(data=data)

/home/zyxing/dance/dance/utils/matrix.py:135: NumbaExperimentalFeatureWarning: First-class function type feature is experimental
  for j in numba.prange(n):
/home/zyxing/anaconda3/envs/dance/lib/python3.8/site-packages/anndata/_core/anndata.py:1838: UserWarning: Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
  utils.warn_names_duplicates("obs")
[INFO][2023-11-12 21:02:44,634][dance][__call__] Found 6 marker genes for cell type 'cell A'
[INFO][2023-11-12 21:02:44,649][dance][__call__] Found 8 marker genes for cell type 'cell B'
[INFO][2023-11-12 21:02:44,665][dance][__call__] Found 11 marker genes for cell type 'cell C'
/home/zyxing/anaconda3/envs/dance/lib/python3.8/site-packages/anndata/_core/anndata.py:1838: UserWarning: Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
  utils.warn_names_duplicates("obs")
/home/zyxing/anaconda3/envs/dance/lib/python3.8/site-packages/anndata/_core/anndata.py:1838: UserWarning: Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
  utils.warn_names_duplicates("obs")

In [8]:
data.data.uns["FilterGenesMarkerGini"].rename(columns={"ans_score":"comb_score","ans_rank":"comb_rank","gene_rank_score":"expression_rank","gene_detection_rank_score":"detection_rank"})

,comb_score,comb_rank,expression,detection,expression_gini,detection_gini,expression_rank,detection_rank,gene_name,cellType
2,0.073529,2,0.753649,1.000000,0.500000,0.147059,1.0,1.0,Vgf,cell A
3,0.041391,4,0.444901,0.888889,0.500000,0.082781,1.0,1.0,Lingo1,cell A
4,0.008389,7,0.462447,0.777778,0.500000,0.016779,1.0,1.0,Slc17a7,cell A
6,0.025000,5,0.526549,0.777778,0.500000,0.050000,1.0,1.0,Atp1a1,cell A
15,0.165094,1,0.470194,0.444444,0.500000,0.330189,1.0,1.0,Slc32a1,cell A
19,0.043893,3,0.345754,0.777778,0.500000,0.087786,1.0,1.0,Cplx1,cell A
0,0.100000,3,0.507656,0.500000,0.500000,0.200000,1.0,1.0,Cldn5,cell B
7,0.138889,1,0.967385,1.000000,0.500000,0.277778,1.0,1.0,Scg3,cell B
8,0.075581,6,0.352764,0.666667,0.500000,0.151163,1.0,1.0,Myh9,cell B
10,0.118421,2,0.837760,1.000000,0.500000,0.236842,1.0,1.0,Pygb,cell B
11,0.100000,4,0.724457,0.833333,0.500000,0.200000,1.0,1.0,Col4a2,cell B
12,0.100000,5,0.627036,0.833333,0.500000,0.200000,1.0,1.0,Sdc4,cell B
14,0.062500,7,0.608142,0.833333,0.500000,0.125000,1.0,1.0,Mtss1l,cell B
18,0.054348,8,0.438133,0.666667,0.500000,0.108696,1.0,1.0,Htra1,cell B
0,0.125000,1,0.274886,0.600000,0.500000,0.250000,1.0,1.0,Cldn5,cell C
1,0.090909,4,0.720337,1.000000,0.500000,0.181818,1.0,1.0,Rtn4r,cell C
2,0.046931,9,0.435345,1.000000,0.469315,0.100000,1.0,1.0,Vgf,cell C
3,0.050000,7,0.571846,1.000000,0.500000,0.100000,1.0,1.0,Lingo1,cell C
4,0.036705,10,0.365671,1.000000,0.367052,0.100000,1.0,1.0,Slc17a7,cell C
6,0.017258,12,0.340210,0.800000,0.379676,0.045455,1.0,1.0,Atp1a1,cell C
9,0.065789,6,0.229265,0.800000,0.500000,0.131579,1.0,1.0,Pcp4l1,cell C
14,0.050000,8,0.249392,0.800000,0.500000,0.100000,1.0,1.0,Mtss1l,cell C
16,0.125000,2,0.548043,0.600000,0.500000,0.250000,1.0,1.0,Adarb2,cell C
17,0.096154,3,0.424866,0.600000,0.500000,0.192308,1.0,1.0,Abtb2,cell C
18,0.083333,5,0.353510,0.800000,0.500000,0.166667,1.0,1.0,Htra1,cell C

In [9]:
pd.read_csv("./spatial_DWLS_data/ref.csv")

,Unnamed: 0,genes,cluster,expression,expression_gini,detection,detection_gini,expression_rank,detection_rank,comb_score,comb_rank
0,1,Slc32a1,1,0.473484,0.5,0.444444,0.330189,1,1,0.165094,1
1,2,Vgf,1,0.748547,0.5,1.000000,0.147059,1,1,0.073529,2
2,3,Lingo1,1,0.444323,0.5,0.888889,0.082781,1,1,0.041391,3
3,4,Cplx1,1,0.323964,0.5,0.777778,0.050000,1,1,0.025000,4
4,5,Atp1a1,1,0.525773,0.5,0.777778,0.050000,1,1,0.025000,5
5,6,Scg3,2,0.970940,0.5,1.000000,0.277778,1,1,0.138889,1
6,7,Pygb,2,0.846047,0.5,1.000000,0.236842,1,1,0.118421,2
7,8,Col4a2,2,0.720211,0.5,0.833333,0.200000,1,1,0.100000,3
8,9,Sdc4,2,0.625966,0.5,0.833333,0.200000,1,1,0.100000,4
9,10,Mtss1l,2,0.600056,0.5,0.833333,0.125000,1,1,0.062500,7
10,11,Cldn5,3,0.293515,0.5,0.600000,0.250000,1,1,0.125000,1
11,12,Adarb2,3,0.551763,0.5,0.600000,0.250000,1,1,0.125000,2
12,13,Abtb2,3,0.425666,0.5,0.600000,0.192308,1,1,0.096154,3
13,14,Rtn4r,3,0.704284,0.5,1.000000,0.181818,1,1,0.090909,4
14,15,Lingo1,3,0.553659,0.5,1.000000,0.100000,1,1,0.050000,7